[submodule "src/cachet-monitor"]
	path = src/cachet-monitor
	url = https://github.com/CastawayLabs/cachet-monitor/
[submodule "src/java-openjdk-boshrelease"]
	path = src/java-openjdk-boshrelease
	url = https://github.com/Orange-OpenSource/java-openjdk-boshrelease
